.columnside {
  float: left;
  padding: 10px;
  width: 25%;
}

.columnmiddle {
  float: left;
  width: 50%;
  text-align: center;
}

.rowFlex {
  display: inline-flex;
  flex-direction: row;
}

.mainHeader {
  padding-top: 300px;
}