html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.781);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 5px;
}

* {
  box-sizing: border-box;
}

input {
  margin: 5px;
}

form {
  display: inline-flex;
  flex-direction: column;
}