.nav {
    background-color: rgb(133, 79, 165);
    color: black;
    position: sticky;
    z-index: 1;
    width: 100%;
    padding: 14px 16px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.link {
    padding: 20px;
}
