.nav {
    background-color: black;
    color: white;
    position: sticky;
    font-weight: bold;
    z-index: 1;
    width: 100%;
    padding: 14px 16px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.centerLinks {
    float: left;
    width: 50%;
    text-align: center;
}

.sideLinks {
    float: left;
    width: 25%;
}

.link {
    margin-left: 60px;
    margin-right: 60px;
}

.linkLeft {
    float: left;
    margin-left: 20px;
}

.linkRight {
    float: right;
    margin-right: 20px
}
